*{

    margin: 0;
    padding: 0;
}

.nav1{

    width: 100%;
    height: 5vh;
    /* background-color: red; */
}

.nav2{

    width: 100%;
    height: 9vh;
    /* background-color: blue; */
}

.nav3{

    width: 100%;
    height: 8vh;
    background-color: rgba(244, 239, 239, 0.848);
}

.nav3 h1{

    width: 100%;
    height: 40px;
    /* background-color: red; */
    font-size: 22px;
    font-weight: 100;
    font-family: arial;
    text-align: center;
    padding-top: 7px;
    color: rgb(37, 36, 36);
}

.nav3 p{

    font-size: 15px;
    font-family: arial;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

/* first */

.first_section{

width: 100%;
height: 50vh;
/* background-color: red; */
display: flex;
}

.first_img {
       width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(2\).avif);
   background-position: center;
   background-size: cover;

    
}

.section1{

    width: 25%;
    height: 15vh;
    /* background-color: red; */
    margin-top: 37%;
    margin-left: 80px;
}

.first_img p{

    font-size: 17px;
    color: rgb(218, 213, 213);
    font-family: arial;
    height: 35px;
}

.first_img h1{

    font-family: arial;
  color: rgb(218, 213, 213);
  font-size: 23px;
  font-weight: 100;
  height: 45px;
}

.b1{

    width: 80px;
    height: 35px;
    background-color: rgb(218, 213, 213);
    border: none;
    border-radius: 20px;
   
}
.second_img{

    width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(1\).avif);
    background-position: center;
    background-size: cover;

}


.second_img{

    width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(1\).avif);
    background-position: center;
    background-size: cover;

}

.section1{

    width: 45%;
    height: 15vh;
    /* background-color: red; */
    margin-top: 37%;
    margin-left: 80px;
}

.second_img p{

    font-size: 17px;
    color: rgb(218, 213, 213);
    font-family: arial;
    height: 35px;
}

.second_img h1{

    font-family: arial;
  color: rgb(218, 213, 213);
  font-size: 23px;
  font-weight: 100;
  height: 45px;
}

.b1{

    width: 80px;
    height: 35px;
    background-color: rgb(218, 213, 213);
    border: none;
    border-radius: 20px;
   
}

/* second */

.second_section{

    width: 100%;
    height: 70vh;
    /* background-color: red; */
}

.second_h1{

    width: 20%;
    height: 60px;
    /* background-color: blue; */
    margin-left: 5%;
    margin-top: 100px;

}

.second_section h1{

font-size: 27px;
font-family: arial;
font-weight: 500;

}

.pic1{

    width: 90%;
    height: 50vh;
    /* background-color: blue; */
    display: flex;
    margin-left: 5%;
    gap: 15px;
}

.time{

    width: 32%;
    height: 50vh;
}

.img1{

    width: 100%;
    height: 50vh;
    background-image: url(./images/nike-kids.avif);
    background-size: cover;
}

.time p{

    font-size: 20px;
    font-family: arial;
    padding-top: 20px;

}

.img2{

    width: 100%;
    height: 50vh;
    background-color: rgba(9, 244, 244, 0.925);
}

.img2 img{

    width: 70%;
    height: 45vh;
    padding-top: 20px;
    padding-left: 35px;
}


.img3{

    width: 100%;
    height: 50vh;
    background-image: url(./images/nike-and-lego®-partnership.avif);
    background-size: cover;
    background-position: center;
}


/* third */


.third_section{

    width: 100%;
    height: 90vh;
    /* background-color: blue; */
    
    
}

.third_h1{

      width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-left: 4%;
    margin-top: 40px;
}

.third_h1 h1{

font-size: 27px;
font-family: arial;
font-weight: 500;

}

.third_shoes{

    width: 94%;
    height: 75vh;
    /* background-color: red; */
    display: flex;
    margin-left: 50px;
    gap: 20px;
    overflow-x: scroll;
   
}

.third1{

     width: 33%;
    height: 60vh;
    flex-shrink: 0;


}

.third1 img{

    width: 100%;
    height: 60vh;

}

.third1 h1{

    font-size: 19px;
    font-family: arial;
    font-weight: 100;
    height: 30px;
}

.third1 h2{

    font-size: 19px;
    color: rgb(132, 129, 129);
   font-size: 19px;
    font-weight: 100;
    height: 30px;
}

.third1 p{

    font-size: 16px;
    font-family: arial;
    font-weight: 900;
}






