*{

    margin: 0;
    padding: 0;
}

.nav1{

    width: 100%;
    height: 5vh;
    /* background-color: red; */
}

.nav2{

    width: 100%;
    height: 9vh;
    /* background-color: blue; */
}

.nav3{

    width: 100%;
    height: 8vh;
    background-color: rgba(244, 239, 239, 0.848);
}

.nav3 h1{

    width: 100%;
    height: 40px;
    /* background-color: red; */
    font-size: 22px;
    font-weight: 100;
    font-family: arial;
    text-align: center;
    padding-top: 7px;
    color: rgb(37, 36, 36);
}

.nav3 p{

    font-size: 15px;
    font-family: arial;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

/* first */

.first_section{

width: 100%;
height: 50vh;
/* background-color: red; */
display: flex;
}

.first_img {
       width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(2\).avif);
   background-position: center;
   background-size: cover;

    
}

.section1{

    width: 25%;
    height: 15vh;
    /* background-color: red; */
    margin-top: 37%;
    margin-left: 80px;
}

.first_img p{

    font-size: 17px;
    color: rgb(218, 213, 213);
    font-family: arial;
    height: 35px;
}

.first_img h1{

    font-family: arial;
  color: rgb(218, 213, 213);
  font-size: 23px;
  font-weight: 100;
  height: 45px;
}

.b1{

    width: 80px;
    height: 35px;
    background-color: rgb(218, 213, 213);
    border: none;
    border-radius: 20px;
   
}
.second_img{

    width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(1\).avif);
    background-position: center;
    background-size: cover;

}


.second_img{

    width: 50%;
    height: 50vh;
    background-image: url(./images/image\ \(1\).avif);
    background-position: center;
    background-size: cover;

}

.section1{

    width: 45%;
    height: 15vh;
    /* background-color: red; */
    margin-top: 37%;
    margin-left: 80px;
}

.second_img p{

    font-size: 17px;
    color: rgb(218, 213, 213);
    font-family: arial;
    height: 35px;
}

.second_img h1{

    font-family: arial;
  color: rgb(218, 213, 213);
  font-size: 23px;
  font-weight: 100;
  height: 45px;
}

.b1{

    width: 80px;
    height: 35px;
    background-color: rgb(218, 213, 213);
    border: none;
    border-radius: 20px;
   
}

/* second */

.second_section{

    width: 100%;
    height: 70vh;
    /* background-color: red; */
}

.second_h1{

    width: 20%;
    height: 60px;
    /* background-color: blue; */
    margin-left: 5%;
    margin-top: 100px;

}

.second_section h1{

font-size: 27px;
font-family: arial;
font-weight: 500;

}

.pic1{

    width: 90%;
    height: 50vh;
    /* background-color: blue; */
    display: flex;
    margin-left: 5%;
    gap: 15px;
}

.time{

    width: 32%;
    height: 50vh;
}

.img1{

    width: 100%;
    height: 50vh;
    background-image: url(./images/nike-kids.avif);
    background-size: cover;
}

.time p{

    font-size: 20px;
    font-family: arial;
    padding-top: 20px;

}

.img2{

    width: 100%;
    height: 50vh;
    background-color: rgba(9, 244, 244, 0.925);
}

.img2 img{

    width: 70%;
    height: 45vh;
    padding-top: 20px;
    padding-left: 35px;
}


.img3{

    width: 100%;
    height: 50vh;
    background-image: url(./images/nike-and-lego®-partnership.avif);
    background-size: cover;
    background-position: center;
}


/* third */


.third_section{

    width: 100%;
    height: 90vh;
    /* background-color: blue; */
    
    
}

.third_h1{

      width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-left: 4%;
    margin-top: 40px;
}

.third_h1 h1{

font-size: 27px;
font-family: arial;
font-weight: 500;

}

.third_shoes{

    width: 94%;
    height: 75vh;
    /* background-color: red; */
    display: flex;
    margin-left: 50px;
    gap: 20px;
    overflow-x: scroll;
   
}

.third1{

     width: 33%;
    height: 60vh;
    flex-shrink: 0;


}

.third1 img{

    width: 100%;
    height: 60vh;

}

.third1 h1{

    font-size: 19px;
    font-family: arial;
    font-weight: 100;
    height: 30px;
}

.third1 h2{

    font-size: 19px;
    color: rgb(132, 129, 129);
   font-size: 19px;
    font-weight: 100;
    height: 30px;
}

.third1 p{

    font-size: 16px;
    font-family: arial;
    font-weight: 900;
}



/* fourth */

.fourth_section{

    width: 100%;
    height: 60vh;
    /* background-color: blue; */

}

.fourth_h1{

   width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-left: 4%;
    margin-left: 100px;
   
}

.fourth_h1 h1{

font-size: 24px;
font-family: arial;
font-weight: 500;

}

.fourth_img{

    width: 86%;
    height: 40vh;
    background-color: red;
    margin-left: 100px;
    display: flex;
    gap: 20px;
}

.fourth1{

    width: 33%;
    height: 40vh;
    background-image: url(./images/61-\ 6sFB29L._AC_UY900_.jpg);
    background-size: cover;
}

.b2{

    width: 100px;
    height: 40px;
    background-color: rgb(237, 231, 231);
    border-radius: 20px;
    border: none;
    color: rgb(78, 77, 77);
    font-size: 15px;
    margin-top: 60%;
    margin-left: 10%;
   
}

.fourth2{

    width: 33%;
    height: 40vh;
    background-image: url(./images/image.avif);
    background-size: cover;
}

.fourth3{

    width: 33%;
    height: 40vh;
    background-image: url(./images/image\ \(4\).avif);
    background-size: cover;
    background-position: center;
}



/* fifth */

.fifth_section{

    width: 100%;
    height: 70vh;
    /* background-color: red; */
}

.fifth_h1{

   width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-left: 4%;
    margin-left: 100px;
   
}

.fifth_h1 h1{

font-size: 24px;
font-family: arial;
font-weight: 500;

}

.fifth_img{

     width: 89%;
    height: 40vh;
    /* background-color: blue; */
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.fifth1{

    width: 33%;
    height: 40vh;

}

.fifth1 img{

    width: 100%;
    height: 40vh;
}

.fifth1 h1{

    font-size: 20px;
    font-family: arial;
    font-weight: 100;
    height: 40px;
    padding-top: 10px;
}

.b3{

    width: 130px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


/* sixth */

.sixth_section{

    width: 100%;
    height: 75vh;
    /* background-color: red; */
}

.sixth_h1{

   width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-left: 100px;
   
}

.sixth_h1 h1{

font-size: 24px;
font-family: arial;
font-weight: 500;

}

.sixth_img{

    width: 89%;
    height: 60vh;
    /* background-color: blue; */
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.sixth1{

    width: 33%;
    height: 60vh;
    background-image: url(./images/image\ \(5\).avif);
    background-size: cover;
}

.set1{

    width: 200px;
    height: 130px;
    /* background-color: red; */
    margin-top: 80%;
    margin-left: 30px;
}

.sixth1 p{

    font-size: 19px;
    color: white;
    height: 30px;
}

.sixth1 h1{

    font-size: 21px;
    font-family: arial;
    font-weight: 100;
    color: white;
    height: 50px;
}

.b4{

     width: 80px;
    height: 35px;
    background-color: rgb(243, 242, 242);
    border: none;
    border-radius: 20px;
}


.sixth2{

    width: 33%;
    height: 60vh;
    background-image: url(./images/image\ \(6\).avif);
    background-size: cover;
}

.set1{

    width: 200px;
    height: 130px;
    /* background-color: red; */
    margin-top: 80%;
    margin-left: 30px;
}

.sixth2 p{

    font-size: 19px;
    color: white;
    height: 30px;
}

.sixth2 h1{

    font-size: 21px;
    font-family: arial;
    font-weight: 100;
    color: white;
    height: 50px;
}

.b4{

     width: 80px;
    height: 35px;
    background-color: rgb(243, 242, 242);
    border: none;
    border-radius: 20px;
}

.sixth3{

    width: 33%;
    height: 60vh;
    background-image: url(./images/f0a48dd1_7f2b_465c_ac2a_87921b04e291.webp);
    background-size: cover;
}

.set1{

    width: 200px;
    height: 130px;
    /* background-color: red; */
    margin-top: 80%;
    margin-left: 30px;
}

.sixth3 p{

    font-size: 19px;
    color: white;
    height: 30px;
}

.sixth3 h1{

    font-size: 21px;
    font-family: arial;
    font-weight: 100;
    color: white;
    height: 50px;
}

.b4{

     width: 80px;
    height: 35px;
    background-color: rgb(243, 242, 242);
    border: none;
    border-radius: 20px;
}

/* seventh */

.seventh_img{

    width: 100%;
    height: 60vh;
    /* background-color: blue; */
}

.seventh_h1{

   width: 20%;
    height: 60px;
    /* background-color: green; */
    margin-top: 5%;
    margin-left: 50px;
   
}

.seventh_h1 h1{

font-size: 24px;
font-family: arial;
font-weight: 500;

}

.seventh1{

    width: 97%;
    height: 35vh;
    /* background-color: red; */
    margin-left: 45px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.seven1{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(1\).avif);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    
}
.seven2{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(2\).avif);
    background-size: cover;
    background-position: center;
     flex-shrink: 0;
    
}
.seven3{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(4\).avif);
    background-size: cover;
    background-position: center;
     flex-shrink: 0;
    
}
.seven4{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(5\).avif);
    background-size: cover;
    background-position: center;
     flex-shrink: 0;
    
}
.seven5{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(6\).avif);
    background-size: cover;
    background-position: center;
     flex-shrink: 0;
    
}
.seven6{

    width: 25%;
    height: 35vh;
    background-image: url(./images/nike-kids\ \(7\).avif);
    background-size: cover;
    background-position: center;
     flex-shrink: 0;
    
}



