* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

.main {
    width: 100%;
    height: 100vh;

}

.nav {
    width: 100%;
    border-style:  none  none solid none;
    /* background-color: aqua; */
    border-width: 1px;
    border-color: gray;

}

.nav1main {
    width: 100%;
    border-style:  none  none solid none;
    /* background-color: aqua; */
    border-width: 1px;
    border-color: gray;
}

.nav1 span {
    font-size: medium
}

.nav1a {
    font-size: small;
    display: flex;
    height: 5vh;
    align-items: center;
    color: gray;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
}

.nav1 a {
    text-decoration: none;
}

.nav1b {
    font-size: small;
    display: flex;
    align-items: center;
    gap: 15px;
}

.help {
    font-weight: bold;

}

.nav1b a {
    text-decoration: none;
    color: gray;

}
.logo img{
    height: 8vh;
}
.nav2{
    width: 95%;
    margin: auto;
    display: flex;
}
.logo {
    flex: 2;
}
.lists{
    flex: 3;
    
}
.lists ul{
    display: flex;
    list-style: none;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.lists li:hover{
    border-style:  none  none solid none;
    border-width: 3px;
    /* text-underline-offset: 10vh;
    text-underline-position: under; */
    border-color: black;
}
ul a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.content{
    width: 100%;
}
.cards{
    width: 95%;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: aquamarine; */
}
.card1{
    width: 340px;
    /* height: 400px; */
    /* flex: 1; */
    /* background-color: aqua; */
}
.card2{
    width: 340px;
    /* height: 400px; */
    /* flex: 1; */
    /* background-color: aqua; */
}
.card3{
    width: 340px;
    /* height: 400px; */
    /* flex: 1; */
    /* background-color: aqua; */
}
.card4{
    width: 340px;
    /* height: 400px; */
    /* flex: 1; */
    /* background-color: aqua; */
}
.card5{
    width: 340px;
    /* height: 400px; */
    /* flex: 1; */
    /* background-color: aqua; */
}
.image img{
    height: 64vh;
    width: 100%;
    border-radius: 20px;
}
.cardcontent{
    box-sizing: border-box;
    display: flex;
    color: black;
    gap: 3px;
    width: 90%;
    margin: 15px auto;
}
.cardcontent2{
    box-sizing: border-box;
    display: flex;
    color: black;
    /* gap: 5px; */
    width: 90%;
    margin: 15px auto;
}
.cardcontent3{
    box-sizing: border-box;
    display: flex;
    color: black;
    gap: 3px;
    width: 90%;
    margin: 15px auto;
}
.cardcontent4{
    box-sizing: border-box;
    display: flex;
    color: black;
    gap: 3px;
    width: 90%;
    margin: 15px auto;
}
.cardcontent5{
    box-sizing: border-box;
    display: flex;
    color: black;
    gap: 3px;
    width: 90%;
    margin: 15px auto;
}
.cards a{
    text-decoration: none;
}
.cardp{
    font-size:larger;
    font-weight: bold;
}
.incardcnt{
    flex: 1;
}
.incardcnt2{
    flex: 1;
}
.incardcnt3{
    flex: 1;
}
.incardcnt4{
    flex: 1;
}
.incardcnt5{
    flex: 1;
}
.btn button{
    flex: 1;
    width: 110px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.btn button:hover{
    background-color: gray;
}
.btn2 button:hover{
    background-color: gray;
}
.btn4 button:hover{
    background-color: gray;
}
.btn2 button{
    flex: 1;
    width: 110px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.btn3 button{
    flex: 1;
    width: 110px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    color: gray;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.btn4 button{
    flex: 1;
    width: 110px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.btn5 button{
    flex: 1;
    width: 110px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    color: gray;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.loadmore{
    width: 95%;
    height: 30vh; 
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:  none  none solid none;
    border-width: 1px;
    border-color: gray;
}
.loadmore a{
    color: black;
}
.loadmore a:hover{
    color: gray;
}
.mainfoot{
    width: 100%;
}
.foot{
    width: 95%;
    margin: auto;
    background-color: aqua;
}